<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers :: head(title='Category')"></head>
<body>
<form th:action="@{/createNewCategory}" th:object="${newCategory}" method="POST">
<label>
    Category name:
</label>
    <input type="text" th:field="*{name}">
    <input type="submit" value="Create">
</form>
<div th:if="${not #lists.isEmpty(categoryList)}" >
    <div th:each =" category : ${categoryList}">
        <div style="border-style: dotted;">
            <a href="lists.html"
               th:href="@{'/lists/' + ${category.name}}"
               th:text="${category.name}">
            </a>
            <a href="category.html"
               th:href="@{'/deleteCategory/' + ${category.id}}"
               th:text="Delete">
            </a>
        </div>
    </div>
</div>
</body>
</html>