<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers :: head(title='Todo')"></head>
<body>
<h3>
    <a href="lists.html"
       th:href="@{/category}"
       th:text="${categoryName}">
    </a>
</h3>
<h4>
    <a href="lists.html"
       th:href="@{'/lists/' + ${categoryName}}"
       th:text="${listName}">
    </a>
</h4>
<form
        th:action="@{'/createTodoItem/' + ${categoryName} + '/' + ${listName}}"
        th:object="${newItem}"
        method="POST">
    <label>
        Todo text:
    </label>
    <input type="text" th:field="*{text}">
    <input type="submit" value="Create">
</form>

<div th:if="${not #lists.isEmpty(todoItemDAO.todoItems)}" >
    <form  th:action="@{'/updateTodoItems/' + ${categoryName} + '/' + ${listName}}"
           th:object="${todoItemDAO}" method="POST">
        <fieldset  th:each =" tItem, stat : ${todoItemDAO.todoItems}">
            <input  type="checkbox" th:field="${todoItemDAO.todoItems[__${stat.index}__].done}" />
            <input type="text" th:field="${todoItemDAO.todoItems[__${stat.index}__].text}" />
        </fieldset>
        <input  type="submit" value="update">
    </form>
</div>

</body>
</html>